<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

<title>{{ .Site.Title | markdownify }} | Abrüpt</title>
<link rel="canonical" href="{{ .Permalink }}">
<meta name="description" content="{{ .Site.Params.Description }}">
<meta name="robots" content="index, follow">

{{ $css := resources.Get "css/style.css" }}
{{ $style := $css | resources.PostCSS | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">

<link rel="apple-touch-icon" sizes="180x180" href="{{ "/favicon/apple-touch-icon.png" | relURL }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/favicon/favicon-32x32.png" | relURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/favicon/favicon-16x16.png" | relURL }}">
<link rel="manifest" href="{{ "/favicon/site.webmanifest" | relURL }}">
<link rel="shortcut icon" href="{{ "/favicon/favicon.ico" | relURL }}">
<meta name="msapplication-TileColor" content="#000000">
<link rel="mask-icon" href="{{ "/favicon/safari-pinned-tab.svg" | relURL }}" color="#000000">
<meta name="msapplication-config" content="{{ "/favicon/browserconfig.xml" | relURL }}">
<meta name="theme-color" content="#ffffff">
<script type="text/javascript" data-pace-options='{ "ajax": true, "document": true, "eventLag": false, "elements": {"selectors": [".loading--all-is-loaded"]} }' src="{{ "/js/pace.min.js" | relURL }}"></script>
<!-- <script type="text/javascript" data-pace-options='{ "ajax": true, "document": true, "eventLag": false }' src="{{ "/js/pace.min.js" | relURL }}"></script> -->

{{ template "_internal/opengraph.html" . }}

{{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
