<div class="loading">
  <p>U</p>
  <p>Ü</p>
  <div class="avertissement">
    <button class="btn--load">
      <div class="info">OK</div>
    </button>
    {{ .Site.Params.Warning | markdownify }}
  </div>
</div>

<audio class="son" loop preload>
  <source src="{{ "/etc/son.mp3" | relURL }}" type="audio/mpeg" />
</audio>

<button class="btn btn--header btn--menu">
  <div class="info">
    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 viewBox="0 0 58 58" style="enable-background:new 0 0 58 58;" xml:space="preserve">
    <g>
    	<path d="M29,0h-1v0.025C12.471,0.555,0,13.345,0,29s12.471,28.445,28,28.975V58h1c15.991,0,29-13.01,29-29S44.991,0,29,0z
    		 M55.965,30.373c-0.007,0.147-0.023,0.291-0.033,0.437c-0.02,0.307-0.039,0.613-0.07,0.917c-0.018,0.178-0.045,0.353-0.066,0.53
    		c-0.033,0.269-0.062,0.539-0.103,0.805c-0.028,0.187-0.065,0.371-0.097,0.557c-0.044,0.253-0.085,0.507-0.136,0.758
    		c-0.038,0.189-0.085,0.375-0.127,0.562c-0.055,0.244-0.107,0.489-0.169,0.731c-0.048,0.188-0.103,0.372-0.155,0.558
    		c-0.066,0.237-0.13,0.475-0.202,0.71c-0.057,0.186-0.122,0.369-0.183,0.553c-0.077,0.23-0.151,0.462-0.234,0.689
    		c-0.067,0.183-0.14,0.364-0.21,0.545c-0.087,0.224-0.172,0.449-0.265,0.671c-0.075,0.179-0.156,0.354-0.235,0.531
    		c-0.097,0.219-0.193,0.439-0.297,0.655c-0.084,0.175-0.173,0.347-0.26,0.52c-0.107,0.212-0.213,0.425-0.325,0.635
    		c-0.092,0.17-0.188,0.337-0.283,0.505c-0.117,0.207-0.234,0.415-0.356,0.618c-0.099,0.165-0.203,0.326-0.305,0.489
    		c-0.126,0.201-0.253,0.401-0.384,0.599c-0.108,0.161-0.22,0.32-0.331,0.479c-0.134,0.192-0.268,0.384-0.407,0.573
    		c-0.116,0.157-0.236,0.311-0.355,0.466c-0.142,0.184-0.285,0.369-0.432,0.55c-0.123,0.151-0.249,0.298-0.375,0.447
    		c-0.152,0.178-0.304,0.356-0.46,0.531c-0.129,0.144-0.262,0.286-0.394,0.427c-0.16,0.171-0.32,0.341-0.484,0.507
    		c-0.136,0.139-0.276,0.274-0.415,0.41c-0.167,0.163-0.335,0.325-0.506,0.483c-0.143,0.132-0.288,0.262-0.434,0.391
    		c-0.174,0.154-0.349,0.307-0.527,0.457c-0.151,0.127-0.304,0.251-0.457,0.374c-0.179,0.144-0.36,0.287-0.543,0.427
    		c-0.158,0.12-0.317,0.238-0.478,0.355c-0.186,0.136-0.373,0.269-0.562,0.4c-0.164,0.113-0.329,0.224-0.495,0.333
    		c-0.192,0.126-0.385,0.251-0.581,0.373c-0.17,0.106-0.341,0.209-0.513,0.311c-0.197,0.117-0.396,0.232-0.597,0.344
    		c-0.176,0.098-0.353,0.195-0.531,0.289c-0.202,0.107-0.406,0.211-0.611,0.314c-0.182,0.091-0.365,0.18-0.55,0.266
    		c-0.206,0.097-0.414,0.19-0.623,0.282c-0.188,0.083-0.377,0.164-0.567,0.242c-0.21,0.087-0.423,0.17-0.636,0.251
    		c-0.194,0.074-0.389,0.147-0.585,0.217c-0.214,0.076-0.429,0.148-0.645,0.219c-0.2,0.065-0.4,0.13-0.602,0.191
    		c-0.217,0.065-0.435,0.126-0.654,0.186c-0.205,0.056-0.411,0.112-0.618,0.163c-0.22,0.055-0.441,0.104-0.663,0.153
    		c-0.211,0.047-0.421,0.093-0.633,0.135c-0.222,0.044-0.446,0.082-0.669,0.12c-0.216,0.037-0.432,0.073-0.65,0.105
    		c-0.223,0.032-0.448,0.059-0.673,0.086c-0.222,0.026-0.443,0.053-0.666,0.074c-0.226,0.021-0.453,0.036-0.68,0.052
    		c-0.225,0.015-0.45,0.032-0.677,0.042c-0.063,0.003-0.127,0.003-0.19,0.005V2.025c0.063,0.002,0.127,0.002,0.19,0.005
    		c0.227,0.01,0.452,0.026,0.677,0.042c0.227,0.016,0.454,0.031,0.68,0.052c0.223,0.021,0.445,0.048,0.666,0.074
    		c0.225,0.027,0.45,0.054,0.673,0.086c0.218,0.032,0.434,0.068,0.65,0.105c0.224,0.038,0.448,0.076,0.669,0.12
    		c0.212,0.042,0.423,0.088,0.633,0.135c0.222,0.049,0.444,0.099,0.663,0.153c0.207,0.051,0.413,0.107,0.618,0.163
    		c0.219,0.06,0.438,0.121,0.654,0.186c0.202,0.061,0.402,0.125,0.602,0.191c0.216,0.071,0.432,0.143,0.645,0.219
    		c0.196,0.07,0.391,0.143,0.585,0.217c0.213,0.081,0.425,0.165,0.636,0.251c0.19,0.078,0.379,0.159,0.567,0.242
    		c0.209,0.092,0.417,0.185,0.623,0.282c0.184,0.087,0.368,0.176,0.55,0.266c0.205,0.102,0.409,0.206,0.611,0.314
    		c0.178,0.094,0.355,0.191,0.531,0.289c0.201,0.112,0.399,0.227,0.597,0.344c0.172,0.102,0.343,0.206,0.513,0.311
    		c0.195,0.122,0.389,0.246,0.581,0.373c0.166,0.109,0.331,0.22,0.495,0.333c0.189,0.131,0.377,0.265,0.562,0.4
    		c0.16,0.117,0.32,0.235,0.478,0.355c0.183,0.14,0.364,0.283,0.543,0.427c0.154,0.124,0.306,0.248,0.457,0.374
    		c0.178,0.15,0.353,0.303,0.527,0.457c0.146,0.129,0.291,0.258,0.434,0.391c0.171,0.158,0.339,0.32,0.506,0.483
    		c0.139,0.136,0.279,0.271,0.415,0.41c0.164,0.167,0.324,0.337,0.484,0.507c0.132,0.141,0.265,0.283,0.394,0.427
    		c0.156,0.174,0.308,0.352,0.46,0.531c0.126,0.148,0.252,0.296,0.375,0.447c0.147,0.181,0.29,0.365,0.432,0.55
    		c0.119,0.155,0.239,0.309,0.355,0.466c0.139,0.188,0.273,0.381,0.407,0.573c0.111,0.159,0.223,0.317,0.331,0.479
    		c0.131,0.197,0.258,0.398,0.384,0.599c0.102,0.163,0.206,0.324,0.305,0.489c0.122,0.204,0.239,0.411,0.356,0.618
    		c0.095,0.168,0.192,0.335,0.283,0.505c0.112,0.209,0.218,0.422,0.325,0.635c0.087,0.173,0.176,0.345,0.26,0.52
    		c0.103,0.216,0.199,0.436,0.297,0.655c0.079,0.177,0.16,0.353,0.235,0.531c0.093,0.221,0.178,0.446,0.265,0.671
    		c0.07,0.182,0.144,0.362,0.21,0.545c0.083,0.228,0.157,0.459,0.234,0.689c0.061,0.184,0.126,0.367,0.183,0.553
    		c0.072,0.235,0.136,0.473,0.202,0.71c0.052,0.186,0.107,0.371,0.155,0.558c0.062,0.242,0.114,0.487,0.169,0.731
    		c0.042,0.187,0.089,0.373,0.127,0.562c0.051,0.251,0.092,0.505,0.136,0.758c0.032,0.186,0.069,0.37,0.097,0.557
    		c0.04,0.266,0.07,0.536,0.103,0.805c0.021,0.177,0.048,0.352,0.066,0.53c0.031,0.304,0.049,0.61,0.07,0.917
    		c0.01,0.146,0.025,0.291,0.033,0.437C55.988,28.082,56,28.54,56,29S55.988,29.918,55.965,30.373z M20.716,54.694
    		C20.89,54.514,21,54.271,21,54c0-0.552-0.448-1-1-1s-1,0.448-1,1c0,0.028,0.014,0.051,0.016,0.078
    		c-6.867-2.744-12.35-8.227-15.094-15.094C3.949,38.986,3.972,39,4,39c0.552,0,1-0.448,1-1s-0.448-1-1-1
    		c-0.271,0-0.514,0.11-0.694,0.284C2.461,34.672,2,31.89,2,29C2,16.09,11.11,5.273,23.238,2.625C23.421,2.849,23.688,3,24,3
    		c0.444,0,0.807-0.294,0.938-0.694C25.941,2.154,26.964,2.063,28,2.025V5c-0.552,0-1,0.448-1,1s0.448,1,1,1v6c-0.552,0-1,0.448-1,1
    		s0.448,1,1,1v6c-0.552,0-1,0.448-1,1s0.448,1,1,1v6c-0.552,0-1,0.448-1,1s0.448,1,1,1v6c-0.552,0-1,0.448-1,1s0.448,1,1,1v6
    		c-0.552,0-1,0.448-1,1s0.448,1,1,1v6c-0.552,0-1,0.448-1,1s0.448,1,1,1v0.975C25.468,55.882,23.025,55.441,20.716,54.694z"/>
    	<circle cx="24" cy="10" r="1"/>
    	<circle cx="16" cy="10" r="1"/>
    	<circle cx="20" cy="14" r="1"/>
    	<circle cx="20" cy="6" r="1"/>
    	<circle cx="24" cy="18" r="1"/>
    	<circle cx="16" cy="18" r="1"/>
    	<circle cx="20" cy="22" r="1"/>
    	<circle cx="24" cy="26" r="1"/>
    	<circle cx="16" cy="26" r="1"/>
    	<circle cx="20" cy="30" r="1"/>
    	<circle cx="24" cy="34" r="1"/>
    	<circle cx="16" cy="34" r="1"/>
    	<circle cx="20" cy="38" r="1"/>
    	<circle cx="24" cy="42" r="1"/>
    	<circle cx="16" cy="42" r="1"/>
    	<circle cx="20" cy="46" r="1"/>
    	<circle cx="24" cy="50" r="1"/>
    	<circle cx="16" cy="50" r="1"/>
    	<circle cx="12" cy="14" r="1"/>
    	<circle cx="8" cy="18" r="1"/>
    	<circle cx="12" cy="22" r="1"/>
    	<circle cx="4" cy="22" r="1"/>
    	<circle cx="8" cy="26" r="1"/>
    	<circle cx="12" cy="30" r="1"/>
    	<circle cx="4" cy="30" r="1"/>
    	<circle cx="8" cy="34" r="1"/>
    	<circle cx="12" cy="38" r="1"/>
    	<circle cx="8" cy="42" r="1"/>
    	<circle cx="12" cy="46" r="1"/>
    </g>
    </svg>
  </div>
</button>
<button class="btn btn--header btn--sound">
  <div class="info info--off">
    <svg enable-background="new 0 0 294.843 294.843" version="1.1" viewBox="0 0 294.84 294.84"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="m251.49 69.611c-2.656 1.981-3.204 5.74-1.224 8.396 15.041 20.172 22.991 44.175 22.991 69.414 0 64.098-52.147 116.25-116.24 116.25-3.313 0-6 2.687-6 6 0 3.314 2.687 6 6 6 70.715 0 128.24-57.531 128.24-128.25 0-27.844-8.773-54.327-25.37-76.587-1.981-2.657-5.74-3.205-8.397-1.223z" />
      <path
        d="m157.01 31.176c22.113 0 43.62 6.231 62.197 18.02 0.997 0.633 2.109 0.935 3.209 0.935 1.986 0 3.929-0.985 5.072-2.786 1.775-2.798 0.946-6.505-1.852-8.281-20.503-13.011-44.233-19.888-68.627-19.888-3.313 0-6 2.687-6 6s2.688 6 6.001 6z" />
      <path
        d="m293.08 1.757c-2.342-2.343-6.143-2.343-8.484 0l-78.454 78.453c-13.786-10.106-30.773-16.092-49.138-16.092-3.313 0-6 2.687-6 6 0 3.314 2.687 6 6 6 15.051 0 29.019 4.7 40.538 12.692l-22.293 22.293c-5.491-2.77-11.687-4.34-18.245-4.34-3.313 0-6 2.687-6 6s2.687 6 6 6c3.18 0 6.237 0.528 9.097 1.489l-89.315 89.315-9.226-9.212c-1.125-1.123-2.649-1.754-4.239-1.754h-51.326v-102.36h51.326c1.59 0 3.114-0.631 4.239-1.754l54.926-54.842v96.776c0 3.313 2.687 6 6 6s6-2.687 6-6v-111.25c0-2.426-1.461-4.613-3.702-5.542-2.242-0.928-4.821-0.417-6.538 1.296l-63.407 63.312h-54.844c-3.313 0-6 2.687-6 6v114.36c0 3.313 2.687 6 6 6h54.844l7.462 7.451-66.548 66.549c-2.343 2.343-2.343 6.142 0 8.485 1.171 1.171 2.707 1.757 4.243 1.757s3.071-0.586 4.243-1.757l66.555-66.555 47.454 47.382c1.147 1.146 2.681 1.754 4.241 1.754 0.773 0 1.554-0.149 2.297-0.458 2.241-0.929 3.702-3.117 3.702-5.542v-74.246c0-3.313-2.687-6-6-6s-6 2.687-6 6v59.776l-37.208-37.152 91.417-91.418c5.517 5.227 8.968 12.613 8.968 20.794 0 15.803-12.856 28.66-28.659 28.66-3.313 0-6 2.687-6 6s2.687 6 6 6c22.42 0 40.659-18.24 40.659-40.66 0-11.49-4.798-21.874-12.487-29.275l21.659-21.659c13.237 12.953 21.473 30.996 21.473 50.934 0 39.317-31.986 71.303-71.304 71.303-3.313 0-6 2.686-6 6 0 3.313 2.687 6 6 6 45.934 0 83.304-37.37 83.304-83.303 0-23.247-9.582-44.29-24.992-59.415l77.763-77.763c2.342-2.343 2.342-6.142-1e-3 -8.485z" />
    </svg>
  </div>
  <div class="info none info--on">
    <svg enable-background="new 0 0 294.843 294.843" version="1.1" viewBox="0 0 294.84 294.84"
      xmlns="http://www.w3.org/2000/svg">
      <g transform="translate(0,4.794)">
        <path
          d="m205.92 24.039c-3.065-1.265-6.571 0.193-7.835 3.256-1.265 3.063 0.193 6.571 3.256 7.835 43.688 18.036 71.917 60.231 71.917 107.5 0 64.098-52.147 116.24-116.25 116.24-3.314 0-6 2.687-6 6s2.686 6 6 6c70.715 0 128.25-57.53 128.25-128.24 0-52.142-31.142-98.691-79.338-118.59z" />
        <path
          d="m157.01 225.93c45.934 0 83.304-37.37 83.304-83.303s-37.37-83.303-83.304-83.303c-3.313 0-6 2.687-6 6 0 3.314 2.687 6 6 6 39.317 0 71.304 31.986 71.304 71.303s-31.987 71.303-71.304 71.303c-3.313 0-6 2.686-6 6s2.687 6 6 6z" />
        <path
          d="m176.54 163.6c-2.424 2.258-2.559 6.055-0.3 8.479 1.182 1.269 2.784 1.911 4.392 1.911 1.464 0 2.932-0.533 4.088-1.61 8.231-7.667 12.952-18.513 12.952-29.757 0-22.419-18.24-40.659-40.66-40.659-3.313 0-6 2.687-6 6s2.687 6 6 6c15.803 0 28.66 12.856 28.66 28.659-1e-3 8.042-3.244 15.491-9.132 20.977z" />
        <path
          d="m130.79 14.84c-2.241-0.928-4.821-0.417-6.538 1.296l-63.408 63.312h-54.844c-3.313 0-6 2.687-6 6v114.36c0 3.313 2.687 6 6 6h57.326c3.313 0 6-2.687 6-6s-2.687-6-6-6h-51.326v-102.36h51.326c1.59 0 3.114-0.631 4.239-1.754l54.926-54.842v215.55l-29.627-29.583c-2.346-2.341-6.145-2.339-8.485 7e-3 -2.341 2.345-2.338 6.144 7e-3 8.485l39.867 39.806c1.147 1.146 2.681 1.754 4.241 1.754 0.773 0 1.554-0.149 2.297-0.458 2.241-0.929 3.702-3.117 3.702-5.542v-244.49c-2e-3 -2.426-1.463-4.613-3.703-5.542z" />
      </g>
    </svg>
  </div>
</button>

<header class="menu">
  <a href="{{ .Site.Params.address | safeHTML }}" target="_blank" rel="noopener" class="title__link">{{
    .Site.Params.Title }}</a>
  <div class="menu__content">
    {{ .Site.Params.Presentation | markdownify }}
  </div>
  <div class="credits">
    {{ .Site.Params.credits | markdownify }}
    <div class="instructions">
      <div class="instructions__desktop">
        (<em>La souris et les flèches directionnelles permettent de s’orienter et de se déplacer dans cet
          antilivre.</em>)
      </div>
      <div class="instructions__mobile">
        (<em>La fonction de zoom permet de s’orienter et de se déplacer dans cet antilivre.</em>)
      </div>
    </div>
  </div>
</header>
